
.bg-image {
    background-image:url("garage.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
}

#bedrijfsnaamTitel {
    color: white;
}

.topbar {
    background-color: #176c48;
    padding: 0;
}

.secondtopbar {
    padding: 0px;
}

.container {
    margin-top: 20px;
}

/*slider*/
.slider{
    width: 100%;
    height: 200px;
}

.carousel .item {
    height: 200px;
}

.carousel img {
    position: absolute;
    min-height: 200px;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}
