.topbar {
    background-color: #176c48;
    padding: 0;
}

.secondtopbar {
    padding: 0px;
}

/*slider*/
.slider{
    width: 100%;
}

.carousel .item {
    height: 350px;
}

.item img {
    height: 350px;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.footerinfo ul li a {
     color: white;
 }

.footerinfo ul li a:hover {
    color: #176c48;
}

.footer {
    background-color: #176c48;
}