/*navbar*/
.topbar {
  background-color: #176c48;
  padding: 0;
}

/*itempage*/
.boxlinks {
  background-color: white;
  color: whitesmoke;
}

/*aanbodpagina*/
.aanbod-wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

.aanbod-sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #CCC;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.aanbod-sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.aanbod-form-search {
  box-sizing: border-box;
  width: 230px;
  margin: auto;


}

.aanbod-dropdown-merk {
  box-sizing: border-box;
  width: 230px;
  margin: auto;

}

.aanbod-dropdown-bouwjaar {
  box-sizing: border-box;
  width: 230px;
  margin: auto;

}

.aanbod-dropdown-onderdeel {
  box-sizing: border-box;
  width: 230px;
  margin: auto;

}

.aanbod-search-button {
  text-align: center;
}

.aanbod-filter-title {
  text-align: center;
}

.col-md-2 {
  border: 1px black solid;
  margin: auto;
}

.col-md-7 {
  border: 1px black solid;
  margin: auto;
}

.aanbod-table-data {
  height: 100px;
}

.aanbod-prijs {
  font-size: 20px;
  text-align: center;
  border: 1px black solid;
}
